@use '@/shared/styles/media.scss';

.list {
    display: grid;
    grid-template-columns: repeat(4, calc(25% - 12px));
    gap: 32px 16px;

    @include media.tablet {
        grid-template-columns: repeat(3, calc(33% - 8px));
        gap: 24px 12px;
    }

    @include media.mobile {
        grid-template-columns: repeat(2, calc(50% - 4px));
        gap: 16px 8px;
    }
}